.hero {
  width: 100%;
  min-height: 95vh;
  background: url("../../assets/main_plane.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-container {
  /* background-color: aqua; */
  max-width: 570px;
}

.hero h1 {
  padding-bottom: 28px;
}

.hero p {
  padding-bottom: 27px;
}

.paggination {
  display: flex;
  gap: 7px;
}

.btn-paggination {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 0px;
  background-color: #c3c3c3;
}

.paggination {
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.hero-btns {
  display: flex;
  gap: 30px;
}

.paggination .active {
  background-color: #ffc851;
}

@media (max-width: 1280px) {

}
