nav {
  width: 100%;
  background-color: #ffffff;
  /* background-color: transparent; */
  color: #fff;
  padding: 34px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  /* transition: 3s; */
}

.logo {
  width: 100px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  color: #363636;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li:hover {
  color: #ffc815;
}
nav ul li img {
  width: 12px;
  margin-left: 8px;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.dropown-menu {
  transition: transform 0.3s ease;
  width: 12px;
  stroke: #ffc815;
}

nav ul li:hover .dropown-menu {
  transform: rotate(180deg);
}

nav button {
  background-color: transparent;
  border: none;
}

.line {
  width: 30px;
  height: 2px;
  background-color: #363636;
  margin: 6px 0px;
  display: block;
  cursor: pointer;
}

.harmburger {
  display: none;
}

@media (max-width: 1280px) {
  nav ul,
  .btn-primary-dark {
    display: none;
  }
  .harmburger {
    display: block;
  }
}
